<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calendartasktelegrambot-c4hmetcqehe0eshs.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/276c6cf3-95b3-48dd-a011-a8551ae283eb/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/CalendarTaskTelegramBot</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://calendartasktelegrambot-c4hmetcqehe0eshs.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGHCqk2bHZUSsQGySUwSwYQAAAAACAAAAAAAQZgAAAAEAACAAAABepbaZLaJFxVbxz+Fv/r7Z2BnNy34ANNSha49VZFhG5QAAAAAOgAAAAAIAACAAAADn0bL75yTdGqKpxuhl+hlTYQTDzqatqIMx/7YBUWrmxCAAAAAEUyhICmdSsx0QXBk/y+7M0wLpbeAYxQjzHHRKfMgLdEAAAACX2YCMUagpOAta1/SUQlQOz0DPShJ0/lqrJCJosBl0JP8BK0uIdz+2niPvlmb5TFAAzH3gfRlaiMIpZCxtcZ6R</EncryptedPassword>
    <History>False|2025-08-06T18:48:32.5741757Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>